* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/** NAVIGATION **/
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 1.5%;
    background-color: black;
    z-index: 900;

    .logo-container {
        width: 200px;
        height: 70px;
        background-image: url(../images/logo.webp);
        background-position: center;
        background-size: cover;
        background-color: black;
    }

    .nav-links {
        display: flex;
        gap: 40px;
        cursor: pointer;

        button {
            font-size: 25px;
            background-color: black;
            border: none;
            color: white;

            &:hover {
                color: #F0AA52;
            }
        }
    }
}

/** TARGET ALL SECTIONS **/
.section {
    padding: 2%;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../images/background.webp);
    background-position: center;
    background-size: cover;
}



/** Slide 1 **/
.slide:nth-child(1) {
    display: flex;
    justify-content: center;
    align-self: center;

    .fp-overflow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header {
        h1 {
            color: white;
            font-size: 96px;
            text-transform: uppercase;

            #greeting {
                font-size: 128px;
            }

            #locationName {
                color: #F0AA52;
                font-size: 128px;
            }
        }

        h2 {
            padding-top: 4%;
            font-size: 48px;
            color: #F0AA52;
        }
    }

    .swiper-button-next {
        font-size: 48px;
        color: #F0AA52;
        z-index: 100;
    }
}


/** Slide 2 **/
/** SEARCH PAGE & FILTER FORM **/
.slide:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    height: 100vh;

    h2 {
        font-size: 64px;
        color: white;
        text-align: center;
    }

    form {
        margin-top: 10px;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        background-color: black;
        color: white;
        border-radius: 8px;

        .filter {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            label {
                font-size: 16px;
            }

            select,
            input {
                width: 248px;
                margin: 10px 0;
                padding: 10px;
                border-radius: 8px;
                border: 1px solid #095CFB;
            }
        }

        .filter-wrapper {
            display: flex;
            flex-direction: row;
            gap: 30px;

            .filter {

                select,
                input {
                    width: 110px;
                }
            }
        }

        button {
            margin: 10px 0 10px 0;
            width: 240px;
            padding: 10px;
            background-color: #F0AA52;
            color: white;
            border: none;
            border-radius: 8px;
            font-size: 32px;

            &:hover {
                background-color: #cb8f44;
            }
        }

        #error-message {
            color: red;
            display: none;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

/** ACCOMMODATION PAGE **/
.slide:nth-child(3) {
    padding: 0;

    .swiper {
        max-width: 80vw;
        max-height: 100vh;
        margin-top: 3%;

        .swiper-slide {
            margin-top: 4%;
            height: 80vh;
            width: 80vw !important;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            align-items: center;
            justify-content: center;

            .property {
                border-radius: 8px;
                background-color: black;
                color: white;
                border: 1px solid rgba(255, 255, 255, 0.18);
                box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.25);
                -webkit-box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.25);

                img {
                    width: 100%;
                    height: 300px;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    object-fit: cover;
                }

                .property-details {
                    padding: 10px;
                    width: 100%;
                    height: 280px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: start;

                    .property-amenities {
                        display: flex;
                        gap: 10px;
                    }

                    button {
                        width: 100%;
                        color: white;
                        font-size: 1.5rem;
                        padding: 10px;
                        background-color: #F0AA52;
                        border: white;
                        border-radius: 8px;

                        &:hover {
                            background-color: #cb8f44;
                        }
                    }
                }
            }
         
        }
    }
}

/** PROPERTY MODAL PAGE **/
.slide:nth-child(4) {
    height: 50vh;
    position: relative;
    top: 230px;
    display: flex;
    justify-self: center;
    align-items: center;
    color: white;

    .close-modal {
        position: absolute;
        right: 15%;
        color: #F0AA52;
        background: none;
        border: none;
        font-size: 100px;
    }

    .selected-modal {
        background-color: black;
        width: 70vw;
        border-radius: 8px;

        img {
            width: 100%;
            height: 300px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        .content-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px;

            h3 {
                font-size: 32px;
            }


            .column1 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;

                .property-amenities {
                    display: flex;
                    gap: 10px;
                    font-size: 2rem;
                }
            }

            .column2 {
                display: flex;
                flex-direction: column;

                .map {
                    width: 400px;
                    height: 180px;
                    background-color: red;
                    border-radius: 8px;
                }

                .price-and-button {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 20px;

                    button {
                        width: 320px;
                        height: 75px;
                        background-color: #F0AA52;
                        border: none;
                        border-radius: 8px;
                        font-size: 32px;
                        color: white;
                    }
                }
            }
        }
    }
}

/** TOTAL MODAL PAGE **/
.slide:nth-child(5) {
    display: flex;
    justify-self: center;
    align-items: center;

    .total-container {
        background-color: black;
        color: white;
        width: 80vw;
        padding: 20px;

        .name-and-price {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 0 10px;

        }

        ul {
            padding: 0 20px 20px;
        }

        h4 {
            margin-bottom: 10px;
        }

        #importantMessage {
            color: red;
        }

        .meal-options {
            padding: 0 20px 20px 0;
            border-radius: 4px;
            border: none;
            button {        
                margin-right: 10px;        
                background-color: #cb8f44;
                padding: 10px;
                border: none;
                border-radius: 4px;
                &:hover {
                    color: black;
                    background-color: white;
                }
            }
        }

        .selected-meal {
            color: white;
        }

        .total-price {
            position: absolute;
            right: 2%;
            display: flex;
            flex-direction: row;
            gap: 20px;
        }

        #complete {
            margin-top: 50px;
            width: 100%;
            height: 75px;
            background-color: #F0AA52;
            color: white;
            font-size: 24px;
            border: none;
            border-radius: 8px;
        }
    }
}